<% include ../header %>


<div class="row">
	<div class="col-6 offset-3">
		
		<div class="jumbotron bg-info text-white">
			<h1 class="display-4">One step left</h1>
			<p class="lead">Please select your payment method and your order will be on the way</p>
			<hr class="my-4">
			
			<div class="radio">
				<label><input type="radio" name="optradio" checked> Cash On Delivery</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio"> Visa/Master Card</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio" checked> bkash</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio"> DBBL nexus</label>
			</div>



			<p class="lead">
				<a class="btn btn-warning btn-lg " href="#" role="button">Confirm Order</a>
			</p>
		</div>

	</div>
</div>




<% include ../footer %>