<% include ../header %>





<div class="row">
	<div class="col-6 offset-3">
		<div class="jumbotron bg-success text-white">
			<h1 class="display-4">Order Confirmed !!!!</h1>
			<p class="lead">You will get it at your door step within 3-5 days.</p>
			<hr class="my-4">
			<p>Thank You for shopping with Umart</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="http://localhost:3000" role="button">Shop More</a>
			</p>
		</div>
	</div>
</div>







<% include ../footer %>
